doctype transitional
head
  meta(http-equiv='Content-Type' content='text/html' charset='UTF-8')
  title Despensa Contigo
div(style='display: none; font-size: 0px; line-height: 0px; max-height: 0px; max-width: 0px; width: 0px; opacity: 0; overflow: hidden;')
  | Despensa Contigo
style(type='text/css').
  a,img{border:0}#bodyTable,body{margin:0;padding:0}.ExternalClass,.ExternalClass div,.ExternalClass font,.ExternalClass p,.ExternalClass span,.ExternalClass td,img{line-height:100%}img{height:auto;outline:0;text-decoration:none}a img{border:0!important}.imageFix{display:block}table,td{border-collapse:collapse}#bodyTable{height:100%!important;width:100%!important}.ExternalClass{width:100%}.MsoNormal{line-height:0!important;margin:0!important}
table(width='650' border='0' align='center' cellpadding='0' cellspacing='0' style='border: solid 1px #CCCCCC')
  tr
    td(valign='top')
      table(width='650' height='2' border='0' cellspacing='0' cellpadding='0')
        tr
          td(bgcolor='#39a8e0' style='font-size: 1px; line-height: 1px;')
          td(bgcolor='#e95381' style='font-size: 1px; line-height: 1px;')
          td(bgcolor='#96bf25' style='font-size: 1px; line-height: 1px;')
          td(bgcolor='#f8ae19' style='font-size: 1px; line-height: 1px;')
      table(width='650' border='0' cellspacing='0' cellpadding='0')
        tr
          td(style='line-height: 1px;')
            table(width='650' border='0' cellspacing='0' cellpadding='0')
              tr
                td(width='22')
                td(width='303' height='103' valign='bottom')
                  a(href='https://www.despensacontigo.cl/login?utm_source=newsletter&utm_medium=email&utm_campaign=Descuentos_02Oct_19&utm_content=logo_despensa_contigo')
                    img(src='http://web.bbdodigital.cl/clientes/nestle/2018/MARZO/imagenes_despensa/logo.jpg' alt='logo despensacontigo' width='303' height='103' border='0')
                td(width='130' height='103' valign='bottom' align='left')
                  span(style='font-family:Arial, Helvetica, sans-serif; color:#6c808d;font-size:16px; line-height: 20px;')
                    b
                      | Queremos lo mejor
                      br
                      | para ti.
                td(width='22')
      table(width='650' height='11' border='0' cellspacing='0' cellpadding='0')
        tr
          td
      table(width='650' border='0' cellspacing='0' cellpadding='0')
        tr
          td
            table(width='650' height='2' border='0' cellspacing='0' cellpadding='0')
              tr
                td(bgcolor='#39a8e0' style='font-size: 1px; line-height: 1px;')
                td(bgcolor='#e95381' style='font-size: 1px; line-height: 1px;')
                td(bgcolor='#96bf25' style='font-size: 1px; line-height: 1px;')
                td(bgcolor='#f8ae19' style='font-size: 1px; line-height: 1px;')
  tr
    td(style='line-height: 1px' height='20')
  tr
    td(style='line-height: 1px') 
        // ************************************* CONTENIDO DE MAIL ****************************************************
        


        //  ************** PROMO SOLA *************************

        table(width='650' border='0' cellspacing='0' cellpadding='0')
            tr
                td(width='22') &nbsp;
                td(width='606' valign='top')
                    table(width='606' border='0' cellspacing='0' cellpadding='0')
                        tr
                            td(height='53' align='center' valign='middle' bgcolor='#3288dd' style='font:normal 22px Arial, Verdana; color:#FFffff; border-bottom: solid 2px #ffffff')
                                b HAZ CRECER SUS SUE&Ntilde;OS
                        tr
                            td(width='606' height='210' style='border-bottom: solid 2px #ffffff')
                                a(href='https://www.despensacontigo.cl/login?ReturnUrl=https%3A%2F%2Fwww.despensacontigo.cl%2Fforticrece#utm_source=newsletter&utm_medium=email&utm_campaign=Descuentos_14Oct_19&utm_content=Todo_Nido')
                                img(src='http://web.bbdodigital.cl/clientes/nestle/2019/octubre/promo-14-10/MAIL_promo_10-14-oct_03-min.jpg' width='606' alt='15% DCTO NIDO')
                        tr
                            td(width='606' height='53' bgcolor='#3288dd')
                                table(cellpadding='0' cellsipacing='0' align='center' border='0')
                                    tr
                                        td(width='481' height='10')
                                    tr
                                        td(width='481' style='line-height:1px;font:normal 22px Arial, Verdana; color:#FFFFFF' align='center')
                                            b: i EN LECHE NIDO<sup>&reg;</sup>&nbsp;FORTICRECE<sup>&reg;</sup>
                                    tr
                                        td(width='481' height='10')
                        tr
                            td(height='35' align='center' valign='middle' bgcolor='#3288dd' style='border-top: solid 2px #ffffff;')
                                table(cellpadding='0' cellspacing='0' border='0')
                                    tr
                                        td(width='606'  style='font:normal 12px Arial, Verdana; color:#FFFFFF;' valign='middle' align='center')
                                            p   Promoci&oacute;n v&aacute;lida desde el 10 al 15 de octubre o hasta agotar stock.
                td(width='22')
        tr
            td(style='line-height: 1px' height='10')
        tr
            td(style='line-height: 1px')
                table(width='650' border='0' cellspacing='0' cellpadding='0')
                    tr
                        td(width='22' height='47')
                        td(width='606' height='47' align='center' valign='middle' style='border: solid 1px #3288dd ;font:normal 19px Arial, Verdana; color:#3288dd')
                            a(href='https://www.despensacontigo.cl/login?ReturnUrl=https%3A%2F%2Fwww.despensacontigo.cl%2Fforticrece#utm_source=newsletter&utm_medium=email&utm_campaign=Descuentos_14Oct_19&utm_content=Todo_Nido' style='text-decoration: none; color:#3288dd') COMPRA AQU&Iacute;
                        td(width='22' height='47')  

        //  ************** PROMO SOLA *************************

        tr
            td(style='line-height: 1px' width='650' height='20')


        //  ************** PROMO DOBLE *************************
        tr
            td(style='line-height:1px')
                table(width='650' border='0' cellspacing='0' cellpadding='0')
                    tr
                        td(width='22')
                        td(width='293')
                            table(width='289' border='0' cellspacing='0' cellpadding='0' style='border:solid 2px #efefef')
                                tr
                                    td(height='50' align='center' valign='middle' bgcolor='#0db8b6' style='font: normal 18px Arial, Verdana; color:#ffffff; line-height: 18px;border-bottom: solid 2px #FFFFFF')
                                        b &iexcl;EMPEZ&Oacute; LA TEMPORADA!
                                    tr
                                    td(width='289' height='250')
                                        a(href='https://www.despensacontigo.cl/login?ReturnUrl=https%3A%2F%2Fwww.despensacontigo.cl%2Fhelados%2Fpaletas-y-conos#utm_source=newsletter&utm_medium=email&utm_campaign=Descuentos_14Oct_19&utm_content=Todo_Helados')
                                            img(src='http://web.bbdodigital.cl/clientes/nestle/2019/octubre/promo-14-10/MAIL_promo_10-14-oct_07-min.jpg' alt='15% dcto ' width='293' border='0')
                                    tr
                                    td(width='289' height='50' bgcolor='#0db8b6' style='font: normal 16px Arial, Verdana; color:#ffffff; line-height: 18px;border-top: solid 2px #FFFFFF;' align='center' valign='middle')
                                        i:  b EN HELADOS DE PALETA Y CONO
                                    tr
                                    td(height='35' align='center' bgcolor='#0db8b6' style='font:normal 10px Arial, Verdana; color:#Ffffff;border-top: solid 1px #FFFFFF;')
                                        span(style='font:normal 10px Arial, Verdana; color:#ffffff')
                                        | Promoci&oacute;n v&aacute;lida desde el 10 al 15 de octubre
                                        br
                                        | o hasta agotar stock.
                        td(width='20')
                        td(width='293')
                            table(width='289' border='0' cellspacing='0' cellpadding='0' style='border:solid 2px #efefef')
                                tr
                                    td(height='50' align='center' valign='middle' bgcolor='#5a00ef' style='font: normal 18px Arial, Verdana; color:#ffffff; line-height: 18px;border-bottom: solid 2px #FFFFFF;')
                                        b   PARA DISFRUTAR DONDE SEA
                                    tr
                                        td(width='289' height='250')
                                            a(href='https://www.despensacontigo.cl/login?ReturnUrl=https%3A%2F%2Fwww.despensacontigo.cl%2Fgalleta%20mini#utm_source=newsletter&utm_medium=email&utm_campaign=Descuentos_14Oct_19&utm_content=Todo_Galletas')
                                                img(src='http://web.bbdodigital.cl/clientes/nestle/2019/octubre/promo-14-10/MAIL_promo_10-14-oct_09-min.jpg' alt='10 x 8 en galletas' width='293' border='0')
                                    tr
                                        td(width='289' height='50' bgcolor='#5a00ef' style='font: normal 16px Arial, Verdana; color:#FFFFFF; line-height: 18px;border-top: solid 2px #FFFFFF;' align='center' valign='middle')
                                            i:  b EN GALLETAS MINI
                                    tr
                                        td(height='35' align='center' bgcolor='#5a00ef' style='font:normal 10px Arial, Verdana; color:#Ffffff; border-top: solid 1px #FFFFFF;')
                                            | Promoci&oacute;n v&aacute;lida desde el 10 al 15 de octubre o hasta
                                            br
                                            | agotar stock. Descuento aplica a producto de menor valor.
                        td(width='22')
    
            tr
                td(style='line-height: 1px' width='650' height='20')

            tr
                td(style='line-height: 1px')
                    table(width='650' height='47' border='0' cellspacing='0' cellpadding='0')
                        tr
                            td(width='22' height='47')
                            td(width='293' height='47' align='center' valign='middle' style='border: solid 1px #0db8b6 ;font:normal 19px Arial, Verdana; color:#0db8b6')
                                a(href='https://www.despensacontigo.cl/login?ReturnUrl=https%3A%2F%2Fwww.despensacontigo.cl%2Fhelados%2Fpaletas-y-conos#utm_source=newsletter&utm_medium=email&utm_campaign=Descuentos_14Oct_19&utm_content=Todo_Helados' style='text-decoration: none; color:#0db8b6') COMPRA AQU&Iacute;
                            td(width='25' height='47')
                            td(width='293' height='47' align='center' valign='middle' style='border: solid 1px #5a00ef ;font:normal 19px Arial, Verdana; color:#5a00ef')
                                a(href='https://www.despensacontigo.cl/login?ReturnUrl=https%3A%2F%2Fwww.despensacontigo.cl%2Fgalleta%20mini#utm_source=newsletter&utm_medium=email&utm_campaign=Descuentos_14Oct_19&utm_content=Todo_Galletas' style='text-decoration: none; color:#5a00ef') COMPRA AQU&Iacute;
                            td(width='22' height='47')

        //  ************** PROMO DOBLE *************************    

        tr
            td(style='line-height: 1px' width='650' height='20')

        // ************************************* CONTENIDO DE MAIL ****************************************************
  tr
    td(style='line-height: 1px')
      img(src='http://web.bbdodigital.cl/clientes/nestle/2019/julio/promo-08-07/MAILING_promo-08-10_JULIO_MARTES_13.jpg' width='650' alt='pie de mailing')
  tr
    td(style='line-height: 1px' width='650' height='17')
      table(cellpadding='0' cellspacing='0' border='0' width='100%')
        tr
          td(style='line-height:1px' align='right' width='243' height='14')
            a(href='https://www.despensacontigo.cl/login?utm_source=newsletter&utm_medium=email&utm_campaign=Descuentos_02Oct_19&utm_content=pagina' style='text-align:left;color:#1AC8ED; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:20px; text-decoration:none;') www.despensacontigo.cl
          td(align='center' width='19' height='14' style='text-align:center;color:#1AC8ED; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:20px; text-decoration:none;line-height:1px')
            | |
          td(style='line-height:1px' align='center' width='127' height='14')
            a(href='https://www.nestle-contigo.cl/application/assets/pdf/AvisodePrivacidadNestleChileSA.pdf?utm_source=newsletter&utm_medium=email&utm_campaign=Descuentos_02Oct_19&utm_content=politica_privacidad' style='text-align:left;color:#1AC8ED; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:20px; text-decoration:none;') Pol&iacute;ticas de Privacidad
          td(style='text-align:center;color:#1AC8ED; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:20px; text-decoration:none;line-height:1px' align='center' width='18' height='14')
            | |
          td(style='line-height:1px' align='left' width='243' height='14')
            a(href='tel:+569800800313' style='text-align:left;color:#1AC8ED; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:20px; text-decoration:none;') Ll&aacute;manos al 800 800 313
  tr
    td(style='line-height: 1px' height='15')
  tr
    td(style='line-height: 1px')
      table(width='650' height='2' border='0' cellspacing='0' cellpadding='0')
        tr
          td(bgcolor='#39a8e0' style='font-size: 1px; line-height: 1px;')
          td(bgcolor='#e95381' style='font-size: 1px; line-height: 1px;')
          td(bgcolor='#96bf25' style='font-size: 1px; line-height: 1px;')
          td(bgcolor='#f8ae19' style='font-size: 1px; line-height: 1px;')
  tr
    td(style='line-height: 1px')
      table(cellpadding='0' cellspacing='0' border='0' width='100%')
        tr
          td(style='line-height:1px' align='center')
            a.fide-abuse(href='#' style='text-align:left;color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:9px; line-height:20px; text-decoration:none;') Reportar abuso
          td(style='line-height:1px' align='center' width='15')
          td(style='line-height:1px' align='center')
            a.fide-privacy(href='#' style='text-align:left;color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:9px; line-height:20px; text-decoration:none;') Privacidad
          td(style='line-height:1px' align='center' width='45')
          td(style='line-height:1px' align='center')
            a.fide-remove-subscriber(href='#' style='text-align:left;color:#999999; font-family:Arial, Helvetica, sans-serif; font-size:9px; line-height:20px; text-decoration:none;') Desuscr&iacute;base
